numpy==1.26.4
pandas==2.2.3
scikit_learn==1.5.2
scikit-learn-extra~=0.3.0
torch==2.2.2
torchmetrics==1.7.1
torchvision==0.17.2
transformers==4.45.0
wandb==0.18.5
prettytable==3.11.0
rasterio==1.4.1
h5py~=3.12.1
pillow~=10.4.0
tqdm~=4.66.5
requests~=2.32.3
scipy~=1.14.1
jinja2==3.1.4
python-dotenv==1.0.0
