
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ app_name|lower() }}-{{ backbone_name[:8]|lower|replace('_', '-') }}-{{ dataset_name_str[:7]|lower|replace('&', '-') }}-{{ mapping_name|lower|replace('_', '-') }}-{{ task_name|lower|replace('_', '-') }}-{{ combinations_slice[0] }}-{{ combinations_slice[1] }}
  labels:
    app: imprinting
spec:
  template:
    metadata:
      labels:
        app: imprinting
    spec:
      priorityClassName: normal
      containers:
        - name: imprinting
          image: registry.datexis.com/jwesterhoff/imprinting:latest
          command: ["python", "scripts/run_imprinting_experiments.py",
                    "--data_and_res_dir", "/app/imprinting-reproduce",
                    "--results_dir", "{{ results_dir }}",
                    "--config", "{{ config_path }}",
                    "--backbone_name", "{{ backbone_name }}",
                    "--dataset_name", {% for ds in dataset_name %}"{{ ds }}", {% endfor %}
                    "--mapping_name", "{{ mapping_name }}",
                    "--mapping", "{{ mapping }}",
                    "--task_name", "{{ task_name }}",
                    {% for task_split in task_splits -%}
                    "--task_splits", {% for label in task_split %}"{{ label }}", {% endfor %}
                    {% endfor -%}
                    "--combinations_slice", "{{ combinations_slice[0] }}", "{{ combinations_slice[1] }}",
                    "--use_wandb", "{{ use_wandb }}",
                    "--parallel_threads", "{{ parallel_threads }}",
                    "--torch_threads", "{{ torch_threads }}",
                    "--use_cache", "{{ use_cache }}",
                    "--device_name", "{{ device_name }}",
                    "--overwrite", "{{ overwrite }}",
                    "--save_train_acc", "{{ save_train_acc }}",
                    ]
          env:
          - name: LANG
            value: 'C.UTF-8'
          - name: PYTHONUNBUFFERED
            value: '1'
          - name: WANDB_API_KEY
            valueFrom:
              secretKeyRef:
                name: wandb-api
                key: WANDB_API_KEY
          volumeMounts:
            - name: imprinting-reproduce-pvc
              mountPath: /app/imprinting-reproduce
            {%if use_cache %}
            - mountPath: /dev/shm
              name: dshm
            {% endif %}
{% if device_name == 'cpu' %}
          resources:
            requests:
              cpu: "{{ cpu_request }}"
              memory: "{{ memory_request }}"
            limits:
              cpu: "{{ cpu_limit}}"
              memory: "{{ memory_limit }}"
{% elif device_name == 'cuda' %}
          resources:
            requests:
              cpu: "1"
            limits:
              nvidia.com/gpu: "1"
              memory: "64Gi"
      {# nodeSelector:
        gpu: {{ gpu_node_selector }}
        #kubernetes.io/hostname: cl-worker22 #}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: gpu
                    operator: In
                    values:
                      {% for value in gpu_node_selector -%}
                      - {{ value }}
                      {% endfor %}

                  {# - key: kubernetes.io/hostname
                    operator: NotIn
                    values:
                      - cl-worker22
                      - cl-worker23
                      - cl-worker29 #}
{% endif %}
      volumes:
        - name: imprinting-reproduce-pvc
          persistentVolumeClaim:
            claimName: imprinting-reproduce-pvc
        {%if use_cache %}
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: {{ shared_memory_limit }}
        {% endif %}
      imagePullSecrets:
        - name: private-registry-auth
      restartPolicy: Never
  backoffLimit: 1
